<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Galaxy Australia</title>
  </head>
  <body>
    <iframe src="https://usegalaxy-au.neoformit.com/landing" style="width: 100%; height: 100%; border: 0; top: 0; left: 0; position: absolute"></iframe>
  </body>
</html>
