runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 1
  slurm_runner:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner

execution:
  default: local
  environments:
    local:
      runner: local_runner
    slurm:
      runner: slurm_runner
      singularity_enabled: true
