runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 1
  slurm_runner:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner
  pulsar_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy:{{ vault_rabbitmq_password_vhost }}@localhost:5671/{{ rabbitmq_vhosts[0] }}?ssl=1"
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
    galaxy_url: https://{{ inventory_hostname }}
    manager: _default_

execution:
  default: local
  environments:
    local:
      runner: local_runner
    slurm:
      runner: slurm_runner
      singularity_enabled: true
    pulsar:
      runner: pulsar_runner
      default_file_action: remote_transfer
      dependency_resolution: remote
      jobs_directory: /mnt/pulsar/files/staging
      persistence_directory: /mnt/pulsar/files/persisted_data
      remote_metadata: false
      rewrite_parameters: true
      transport: curl
      outputs_to_working_directory: false

tools:
  - id: testing
    execution: pulsar
