<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true" tool_path="{{ galaxy_local_tools_dir }}">
    <tool file="testing.xml" />

    <section id="interactivetools" name="Interactive tools">
        <!-- <tool file="interactivetool_isee.xml" /> -->
    </section>
</toolbox>
