<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
        <tool file="interactive/interactivetool_ethercalc.xml" />
        <tool file="interactive/interactivetool_ena_upload.xml" />
    </section>
</toolbox>
